<ul class="nav nav-column navbar">
  <p class="nav-header"><a class="nav-link home-link" href="#">F_TALKS</a></p>

  <li class="nav-item top-link">
    <a class="nav-link kerstin-link" href="#">Kerstin Honeit</a>
  </li>
  <li class="nav-item here-link">
    <a class="nav-link rosana-link" href="#">Rosana Elkhatib</a>
  </li>
  <li class="nav-item here-link">
    <a class="nav-link helene-link" href="#">Hélèna Frichot</a>
  </li>
  <li class="nav-item here-link">
    <a class="nav-link liza-link" href="#">Liza Fior</a>
  </li>
  <li class="nav-item here-link">
    <a class="nav-link helga-link" href="#">Helga Blocksdorf</a>
  </li>


<div class="more-information">

  <li class="nav-item thereli">
    19 Uhr | 7pm
  </li>
  <li class="nav-item thereli">
      <%= link_to "Hardenbergstr 33", "https://www.google.com/maps/search/?api=1&query=Hardenbergstr+33+Berlin", target: "_blank" %>
  </li>

  <li class="nav-item thereli">
      <%= link_to "UdK", "https://www.udk-berlin.de/studium/architektur/", target: "_blank" %>
  </li>

  <li class="nav-item thereli">
    <%= link_to "facebook", "https://www.facebook.com/fem.arc/", target: "_blank" %>
  </li>
  <li class="nav-item thereli">
    <%= link_to "fem-arc", "fem-arc.net", target: "_blank" %>
  </li>

</ul>
</div>

