<div class="home">
  <p>lecture and conversation series</p>
  <p>perspectives on gender and architecture</p>


<div class="kerstin">
  <p>kerstin</p>
</div>

<div class="rosana">
  <p>rosana</p>
</div>

<div class="helene">
  <p>helene</p>
</div>

<div class="liza">
  <p>liza</p>
</div>

<div class="helga">
  <p>helga</p>
</div>

</div>
