<div class="home">
  <p>
  perspectives on gender and architecture
  <br>
  lecture and conversation series</p>
  <div class="home-content">
  <div class="content">
  <p>Die Perspektiven und Referenzen, die uns an der UdK geboten werden, reichen nicht aus um uns im Berufsfeld der Architektur zu positionieren. Es fehlt an weiblichen Vorbildern in einer immer noch männlich dominierten Praxis. Mit den f_talks wird ein Raum geschaffen, endlich ein Gespräch zu provozieren und weibliche Perspektiven sichtbar zu machen!
  <br>Das fem_arc collective ist ein Zusammenschluss von Studentinnen, die sich für die aktive Auseinandersetzung mit Gender-Fragen in der Architektur einsetzen. Als erstes Format werden die f_talks stattfinden.
  <br>Die Vorträge finden auf deutsch und englisch statt.</p>


<p>immer 19:00 Uhr
<br>Raum 157
<br>Hardenbergstr. 33
<br>10623 Berlin
</p>
</div>
</div>

<div class="kerstin">
<div class="content">
  <p>Do, 24.05.18
  <br>Kerstin Honeit</p>

  <p>In ihrer künstlerischen Forschung untersucht Kerstin Honeit in Form von Videoarbeiten, Performances und Installationen die Produktion hegemonialer Bilderwelten in den Medien der Informationsgesellschaft und Popkultur.
  <br>In ihren jüngsten Arbeiten bildet vor allem die Auseinandersetzung mit Architekturen den Ausgangspunkt zur Befragung von Konstruktionen gesellschaftlicher Normen.
  </p>
</div>
</div>

<div class="rosana">
<div class="content">
  <p>Mo, 28.05.18
    <br>Rosana Elkhatib
    <br>f-architecture collab
  </p>
  <p>
    Rosana Elkhatib is a Palestinian-Jordanian architect-trained curator based in New York City. Her research focuses on the mutual constitution of bodies and spaces as they are further complicated by their political, social, and religious environs, specifically in the urbanizing Middle East. She collaborates with artists across the middle East to work toward more complex and representative images of contemporary life in the region. Alongside Gabrielle Printz and Virginia Black, she co-founded feminist architecture collaborative, a three-woman architectural research enterprise aimed at disentangling the contemporary spatial politics and technological appearances of bodies, intimately and globally. Their projects traverse theoretical and activist registers to locate new forms of architectural work through critical relationships with collaborators in the Amazon of Ecuador, on the US-MX border, and in Jordan and Lebanon.

  </p>
</div>
</div>

<div class="helene">
<div class="content">
  <p>Do, 14.06.18
    <br>Hélène Frichot
  </p>
  <p>
    Dr. phil. Hélène Frichot is an Associate Professor and Docent in the School of Architecture and the Built Environment, KTH, Stockholm. She leads the 'Critical Studies in Architecture' research and pedagogy division. Her research examines the transdisciplinary field between architecture and philosophy. Hélène draws predominantly on the philosophical work of Gilles Deleuze and Félix Guattari, alongside other poststructuralist as well as feminist thinkers. Her published research has ranged widely from commentary on the ethico-aesthetics of contemporary digital architecture operating within the new biotechnological paradigm, to the role of emerging participatory and relational practices in the arts, including critical and creative spatial practices. She considers architecture-writing to be her mode of practice.
  </p>
</div>
</div>

<div class="liza">
<div class="content">
  <p>liza</p>
</div>
</div>

<div class="helga">
<div class="content">
  <p>Sessions 5 Mo, 25.06.18
  <br>Helga Blocksdorf
  </p>
  <p>
    Helga Blocksdorf arbeitet seit drei Jahren als freischaffende Architektin. Ihre ersten Projekte hat sie 2012 zusammen mit Catharina Förster als Gruppe 'après-nous' realisiert. Helga Blocksdorf hat an der Bauhaus-Universität Weimar und an der UdK Berlin Architektur studiert und war als Bauleitung, Projektarchitektin und im Wettbewerbsteam für Staab Architekten in Berlin tätig. Von 2007–12 war sie wissenschaftliche Mitarbeiterin am Fachgebiet Entwerfen und Baukonstruktion von Professorin Ute Frank an der TU Berlin und hat dort das Doktoranden-Kolloquium 'EKLAT – Entwerfen und Konstruieren in Lehre, Anwendung und Theorie' mit aufgebaut.
  </p>
</div>
</div>

</div>
