/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
    font-family: 'myFirstFont';
    src: url('./suisseintl-book-webfont.woff') format('woff');
}

 @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

body {
    display: flex;
    justify-content: flex-start;
    font-family: 'myFirstFont';
    margin-top: 0px;
    ul {
    list-style: none;

  }
}
.kerstin-image {
  z-index: 0;
  position: fixed;
}
.navbar {
  margin-top: 0px;
  padding-left: 0px;
}
.nav-header {
  margin-top: 0px;
  margin-bottom: 0px;
}
.home p {
    margin-top: 0px;
}

.thereli {
      color: #E6007D;
    }
p {
  color: #E6007D;
}
.content p {
  color: #E6007D;
  width: 25%;

}

// .home {
//   z-index: 2;
// }
a {
  color: #E6007D;
}
a.selected {
    color: #E6007D;
  }
a:link {
  text-decoration: none;
  color: #E6007D;

}
a:hover {
  color: #E6007D;
}
.nav-column {
  display: flex;
  flex-direction: column;
  list-style: none;
  min-width: 200px;
  .top-link {
    margin-top: 20px;
  }
  .more-information {
    margin-top: 150%;
  }

  }

.home {
  flex-direction: column;
  margin-left: 10px;
  width: 70%;
}
